*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #282828;
    color: #D3869B;
}

a {
    font-size: 20px;
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 1.54;
    margin: 24px 0px;
}

.container {
    padding: 0px 10vw;
}

.navbar {
    margin: 0;
    padding-top: 2%;
    display: flex;
    gap: 25px;
}

.home {
    color: #FB4934;
}

.github {
    color: #B8BB26;
}

.projects {
    color: #FABD2F;
}

.contact {
    color: #83A598;
}

.contact-link {
    display: inline-block;
    color: #D3869B;
    border-bottom: solid 3px #000;
}

.contact-link:hover {
    color: #83A598;
}

.main-content {
    max-width: 950px;
    margin-top: 9vw;
}

.emoji {
    margin: 36px 0px;
}

.hand {
    font-size: 13px;
}

.memoji {
    width: 44px;
    height: 44px;
}

.header-text {
    max-width: 500px;
    font-weight: bold;
    font-size: 64px;
    color: #FBF1C7;
}